<section class='container mx-auto flex flex-col h-full p-5'>
    <div class='flex flex-row items-center'>
        <img class='me-3' src='{{ "assets/images/icons/Progress_icon.png" | relative_url }}' height='32px' width='32px' alt='Progress icon'>
        <h2 class='font-medium text-3xl'>Progress</h2>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-none mt-5 gap-5">

        {% include partials/progress-numeral.html title='Skills' id='skills-progress' max='23' class='order-1 lg:order-none' %}
        {% include partials/progress-numeral.html title='Quest Points' id='quests-progress' max='300' class='order-2 sm:order-4 md:order-5 lg:order-none' %}

        {% include partials/progress-item.html title='Achievements' bgcolour='bg-yellow-400' textcolour='text-yellow-400' class='order-3 sm:order-2 lg:order-none' %}
        {% include partials/progress-item.html title='Quests' bgcolour='bg-blue-400' textcolour='text-blue-400' class='order-4 sm:order-3 lg:order-none' %}
        {% include partials/progress-item.html title='Pets' bgcolour='bg-green-400' textcolour='text-green-400' class='order-5 md:order-4 lg:order-none' %}
        {% include partials/progress-item.html title='Collections' bgcolour='bg-red-400' textcolour='text-red-400' class='order-6 lg:order-none' %}
    </div>
    <div class='grow items-end hidden lg:flex'>
        <span class='text-birch-800 font-light'>{{ site.tagline }}</span>
    </div>
</section>