// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .row-cols-lg-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .row-cols-xl-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .row-cols-xxl-12 > * {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
}