* {
    font-family: $font-primary;
    color: $colour-text-primary;
    user-select: none;
}

h1, h2 {
    text-shadow: 0 0 black, 0 3px black, 3px 0 black, 0 0 black;
}

h2, h3, h4, h5, p {
    margin: 0 !important;
}

body {
    background-color: $colour-background-primary;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $colour-background-tertiary;
}

#collections-wrapper {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        
        li {
            padding: 0.25rem 0.875rem 0.25rem 0.875rem;
            color: $colour-text-tertiary;
            background-color: $colour-background-featured;
        }
    }
}

.show-hide,
.cursor {
    cursor: pointer;
}

.skill-item {
    background-color: $colour-background-secondary;
    cursor: pointer;
    opacity: 60%;
    transition: all $transition-fast;

    .text-muted:after {
        content: "Locked";
    }

    &:hover {
        box-shadow: $boxshadow-border $colour-background-tertiary;
    }

    &.unlocked {
        opacity: 100%;

        .text-muted {
            color: $colour-text-secondary !important;

            &:after {
                content: "Unlocked";
            }
        }
    }
}

.json-item {
    background-color: $colour-background-secondary;
    cursor: pointer;
    opacity: 100%;
    transition: all $transition-fast;

    .text-muted:after {
        content: "Incomplete";
    }

    &:hover {
        box-shadow: $boxshadow-border $colour-background-tertiary;
    }

    &.complete {
        opacity: 60%;

        .text-muted {
            color: $colour-text-secondary !important;

            &:after {
                content: "Complete";
            }
        }
    }
}

.progress {
    background-color: $colour-background-featured;
}

.progress-item {
    background-color: $colour-background-secondary;
}

.sticky-top {
    background-color: $colour-background-primary;
}

.json-description {
    color: $colour-text-tertiary;
}

.difficulty-Easy,
.difficulty-Novice {
    color: $colour-difficulty-easy;
}

.difficulty-Intermediate,
.difficulty-Medium {
    color: $colour-difficulty-medium;
}

.difficulty-Experienced,
.difficulty-Hard {
    color: $colour-difficulty-hard;
}

.difficulty-Master,
.difficulty-Elite {
    color: $colour-difficulty-elite;
}

.difficulty-Grandmaster,
.difficulty-Master {
    color: $colour-difficulty-master;
}

.nav-menu {
	position: fixed;
    background-color: $colour-background-featured;
	right: 1rem;
	top: calc(50% - 75px);
	z-index: 9999;
    height: 150px;
	text-decoration: none;
	transition: all $transition-fast;
}

.nav-btn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    cursor: pointer;
    background-color: $colour-text-primary;
    transition: transform $transition-fast;

    &:hover {
        transform: scale(1.2); 
    }
}

.line {
    height: 16px;
    width: 2px;
    background-color: $colour-text-primary;
}