//Fonts
$font-primary: 'VT323', monospace;

//Transitions
$transition-slow: 0.5s;
$transition-fast: 0.3s;

//Colours
$colour-background-primary: #3e3529;
$colour-background-secondary: #554c41;
$colour-background-tertiary: #000001;
$colour-text-primary: #ff9933;
$colour-text-secondary: #0dc10d;
$colour-text-tertiary: #ffff00;
$colour-border-light: #726451;
$colour-border-dark: #2e2b23;