{% capture url %}assets/images/icons/{{ include.title }}_icon.png{% endcapture %}

<section class='container mx-auto p-5'>
    <div class='flex flex-row items-center'>
        <img class='me-2' src='{{ url | relative_url }}' height='32px' width='32px' alt='{{ include.title }} icon'>
        <h2 class='font-medium text-3xl'>{{ include.title }}</h2>
    </div>
    <div id='{{ include.title | downcase }}-wrapper' class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-5 gap-5">

    </div>
</section>